<app-data-table>
    <tr headers>
        <th>Number</th>
        <th>Identifier</th>
        <th>Name</th>
        <th>Item name</th>
        <th>Item price</th>
        <th>Paid</th>
        <th>Due</th>
    </tr>
    <tr *ngFor="let booking of bookingData; let i = index" rows>
        <td><input name="number" type="number" value="{{booking.saleNumber}}" readonly></td>
        <td><input name="identifier" type="text" value="{{booking.identifier}}" readonly></td>
        <td><input name="name" type="text" value="{{booking.name}}" readonly></td>
        <td><input name="item" type="text" value="{{booking.item}}" readonly></td>
        <td><input name="price" type="number" value="{{booking.price}}" readonly></td>
        <td><input name="paid" type="number" value="{{booking.paid}}" readonly></td>
        <td><input name="due" type="number" value="{{booking.due}}" readonly></td>
    </tr>
</app-data-table>