<app-data-table>
    <tr headers>
        <th i18n>Identifier</th>
        <th i18n>Name</th>
        <th i18n>Quantity</th>
        <th i18n>Payment method</th>
        <th i18n>Action</th>
    </tr>
    <tr *ngFor="let booking of bookingData; let i = index" rows>
        <td>
            <input name="identifier" type="text" [(ngModel)]="booking.identifier" readonly>
        </td>
        <td>
            <input name="name" type="text" [(ngModel)]="booking.name" readonly>
        </td>
        <td>
            <input name="quantity" currencyMask [(ngModel)]="booking.quantity" (ngModelChange)="validPaymentQuantity(i)"
                [readonly]="isReadOnly || !(currentWorkingIndex == i) || !isEditing">
            <p *ngIf="!isReadOnly && currentWorkingIndex == i && isEditing && !paymentLessThanDebt" style="color: red;"
                i18n>Value exceeds remaining</p>
        </td>
        <td>
            <select [(ngModel)]="booking.method" [disabled]="isReadOnly || !(currentWorkingIndex == i) || !isEditing">
                <option value="Efectivo" i18n>Cash</option>
                <option value="Tarjeta" i18n>Card</option>
                <option *ngFor="let method of paymentMethods" value="{{method}}">{{method}}</option>
            </select>
        </td>
        <td>
            <button *ngIf="!isReadOnly && !isEditing" (click)="editRow(i)" i18n>Edit</button>
            <button *ngIf="!isReadOnly && currentWorkingIndex == i && isEditing" (click)="saveRow(i)" i18n>Save</button>
        </td>
    </tr>
</app-data-table>

<app-data-table *ngIf="salesData.length > 0">
    <tr headers>
        <th *ngIf="salesData.length > 1" i18n>Select sale</th>
        <th i18n>Number</th>
        <th i18n>Item name</th>
        <th i18n>Date</th>
        <th i18n>Due</th>
    </tr>
    <tr *ngFor="let sale of salesData; let j = index" rows>
        <td *ngIf="salesData.length > 1">
            <input name="selectRow" type="radio" (click)="selectRow(j)" />
        </td>
        <td><input name="number" type="number" [value]="sale.saleNumber" readonly></td>
        <td><input name="item" type="text" [value]="sale.item" readonly></td>
        <td><input name="date" type="text" [value]="sale.date | date:'dd/MM/yyyy'" readonly></td>
        <td>{{ sale.debt | currency:'COP' }}</td>
    </tr>
</app-data-table>

<strong i18n>Daily total:</strong>
<app-data-table>
    <tr headers>
        <th i18n>Quantity</th>
    </tr>
    <tr rows>
        <td>{{ bookingTotal.quantity | currency:'COP' }}</td>
    </tr>
</app-data-table>
<button *ngIf="!isReadOnly" (click)="addRow()" i18n>New Booking Payment</button>
<input *ngIf="!isReadOnly" name="newPaymentIdentifier" type="text" [(ngModel)]="newPaymentIdentifier">