<app-data-table>
    <tr headers>
        <th i18n>Identifier</th>
        <th i18n>Name</th>
        <th i18n>Quantity</th>
    </tr>
    <tr *ngFor="let booking of bookingData; let i = index" rows>
        <td>
            <input name="identifier" type="text" [(ngModel)]="booking.identifier"
                (ngModelChange)="queryClientSalesByIdentifier(i)" [readonly]="isReadOnly">
        </td>
        <td>
            <input name="name" type="text" [(ngModel)]="booking.name" (ngModelChange)="queryClientSalesByName(i)"
                [readonly]="isReadOnly">
        </td>
        <td>
            <input name="quantity" currencyMask [(ngModel)]="booking.quantity" (ngModelChange)="saveRow(i)"
                [readonly]="isReadOnly">
        </td>
    </tr>
</app-data-table>

<app-data-table *ngIf="salesData.length > 0">
    <tr headers>
        <th *ngIf="salesData.length > 1" i18n>Select sale</th>
        <th i18n>Number</th>
        <th i18n>Item name</th>
        <th i18n>Date</th>
    </tr>
    <tr *ngFor="let sale of salesData; let j = index" rows>
        <td *ngIf="salesData.length > 1">
            <input name="selectRow" type="radio" (click)="selectRow(currentWorkingIndex,j)" />
        </td>
        <td><input name="number" type="number" [value]="sale.saleNumber" readonly></td>
        <td><input name="item" type="text" [value]="sale.item" readonly></td>
        <td><input name="date" type="text" [value]="sale.date | date:'dd/MM/yyyy'" readonly></td>
    </tr>
</app-data-table>

<strong i18n>Daily total:</strong>
<app-data-table>
    <tr headers>
        <th i18n>Quantity</th>
    </tr>
    <tr rows>
        <td>{{ bookingTotal.quantity | currency:'COP' }}</td>
    </tr>
</app-data-table>
<button *ngIf="!isReadOnly" (click)="addRow()" i18n>New Booking Payment</button>