<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Sales" i18n-label="@@salesTabLabel">
        <app-sales />
    </mat-tab>
    <mat-tab label="In installments" i18n-label="@@installmentsTabLabel">
        <app-installments />
    </mat-tab>
    <mat-tab label="Bookings" i18n-label="@@bookingsTabLabel">
        <app-bookings />
    </mat-tab>
    <mat-tab label="Payment History" i18n-label="@@paymentHistoryTabLabel">
        <app-payment-history />
    </mat-tab>
    <mat-tab label="Booking Information" i18n-label="@@bookingInformationTabLabel">
        <app-booking-information />
    </mat-tab>
    <mat-tab label="Expenses" i18n-label="@@expensesTabLabel">
        <app-expenses />
    </mat-tab>
    <mat-tab label="Reports" i18n-label="@@reportsTabLabel">
        <app-reports />
    </mat-tab>
</mat-tab-group>