<mat-tab-group>
    <mat-tab label="Sales">
        <!-- Content for the Sales tab -->
        <!-- You can add your content here -->
    </mat-tab>
    <mat-tab label="In installments">
        <app-installments />
    </mat-tab>
    <mat-tab label="Bookings">
        <!-- Content for the Bookings tab -->
        <!-- You can add your content here -->
    </mat-tab>
    <mat-tab label="Booking Information">
        <!-- Content for the Booking Information tab -->
        <!-- You can add your content here -->
    </mat-tab>
    <mat-tab label="Expenses">
        <!-- Content for the Expenses tab -->
        <!-- You can add your content here -->
    </mat-tab>
</mat-tab-group>