<app-data-table>
    <tr headers>
        <th>Identifier</th>
        <th>Customer name</th>
        <th>Item name</th>
        <th>Item price</th>
        <th>Card payment</th>
        <th>Cash payment</th>
        <th>In installments</th>
    </tr>
    <tr *ngFor="let sale of salesData; let i = index" rows>
        <td><input name="identifier" type="text" [(ngModel)]="sale.identifier" (ngModelChange)="saveRow(i)"></td>
        <td><input name="name" type="text" [(ngModel)]="sale.name" (ngModelChange)="saveRow(i)"></td>
        <td><input name="item" type="text" [(ngModel)]="sale.item" (ngModelChange)="saveRow(i)"></td>
        <td><input name="price" type="number" [(ngModel)]="sale.price" (ngModelChange)="saveRow(i)"></td>
        <td><input name="card" type="number" [(ngModel)]="sale.card" (ngModelChange)="saveRow(i)"></td>
        <td><input name="cash" type="number" [(ngModel)]="sale.cash" (ngModelChange)="saveRow(i)"></td>
        <td><input name="installments" type="number" [(ngModel)]="sale.installments" (ngModelChange)="saveRow(i)"></td>
    </tr>
</app-data-table>
<strong>Daily total:</strong>
<app-data-table>
    <tr headers>
        <th>Item price</th>
        <th>Card payment</th>
        <th>Cash payment</th>
        <th>In installments</th>
    </tr>
    <tr rows>
        <td>{{ saleTotal.price }}</td>
        <td>{{ saleTotal.card }}</td>
        <td>{{ saleTotal.cash }}</td>
        <td>{{ saleTotal.installments }}</td>
    </tr>
</app-data-table>
<button (click)="addRow()">Add Row</button>