<app-data-table>
    <tr headers>
        <th i18n>Identifier</th>
        <th i18n>Customer name</th>
        <th i18n>Item name</th>
        <th i18n>Item price</th>
        <th i18n>Card payment</th>
        <th i18n>Cash payment</th>
        <th i18n>Transfer payment</th>
        <th i18n>In installments</th>
    </tr>
    <tr *ngFor="let sale of salesData; let i = index" rows>
        <td>
            <input name="identifier" type="text" [(ngModel)]="sale.identifier" (ngModelChange)="saveRow(i)"
                [readonly]="isReadOnly" i18n-placeholder="Identifier">
        </td>
        <td>
            <input name="name" type="text" [(ngModel)]="sale.name" (ngModelChange)="saveRow(i)" [readonly]="isReadOnly"
                i18n-placeholder="Customer name">
        </td>
        <td>
            <input name="item" type="text" [(ngModel)]="sale.item" (ngModelChange)="saveRow(i)" [readonly]="isReadOnly"
                i18n-placeholder="Item name">
        </td>
        <td>
            <input name="price" currencyMask [(ngModel)]="sale.price" (ngModelChange)="saveRow(i)"
                [readonly]="isReadOnly" i18n-placeholder="Item price">
        </td>
        <td>
            <input name="card" currencyMask [(ngModel)]="sale.card" (ngModelChange)="saveRow(i)" [readonly]="isReadOnly"
                i18n-placeholder="Card payment">
        </td>
        <td>
            <input name="cash" currencyMask [(ngModel)]="sale.cash" (ngModelChange)="saveRow(i)" [readonly]="isReadOnly"
                i18n-placeholder="Cash payment">
        </td>
        <td>
            <tr *ngFor="let transfer of sale.transfer; let j = index">
                <input name="transfer" currencyMask [(ngModel)]="transfer.quantity" (ngModelChange)="saveRow(i)"
                    [readonly]="isReadOnly" i18n-placeholder="Transfer payment">
                <select [(ngModel)]="transfer.method" (change)="saveRow(i)">
                    <option *ngFor="let bank of banks" value="{{bank.name}}">{{bank.name}}</option>
                </select>
            </tr>
            <div class="addLink">
                <a href="#" (click)="addTransfer(i)" i18n>Add</a>
            </div>
        </td>
        <td>
            <tr *ngFor="let installment of sale.installments; let k = index">
                <input name="installments" currencyMask [(ngModel)]="installment.quantity" (ngModelChange)="saveRow(i)"
                    [readonly]="isReadOnly" i18n-placeholder="In installments">
                <select [(ngModel)]="installment.method" (change)="saveRow(i)">
                    <option *ngFor="let creditSystem of creditSystems" value="{{creditSystem.name}}">{{creditSystem.name}}
                    </option>
                </select>
            </tr>
            <div class="addLink">
                <a href="#" (click)="addInstallment(i)" i18n>Add</a>
            </div>
        </td>
    </tr>
</app-data-table>
<strong i18n>Daily total:</strong>
<app-data-table>
    <tr headers>
        <th i18n>Item price</th>
        <th i18n>Card payment</th>
        <th i18n>Cash payment</th>
        <th i18n>Transfer payment</th>
        <th i18n>In installments</th>
        <th i18n>Expenses</th>
        <th i18n>Balance</th>
    </tr>
    <tr rows>
        <td>{{ saleTotal.price | currency:'COP' }}</td>
        <td>{{ saleTotal.card | currency:'COP' }}</td>
        <td>{{ saleTotal.cash | currency:'COP' }}</td>
        <td>{{ saleTotal.transfer | currency:'COP' }}</td>
        <td>{{ saleTotal.installments | currency:'COP' }}</td>
        <td>{{ saleTotal.expenses | currency:'COP' }}</td>
        <td>{{ saleTotal.balance | currency:'COP' }}</td>
    </tr>
</app-data-table>
<button *ngIf="!isReadOnly" (click)="addRow()" i18n>New sale</button>
<app-accounts />