<app-data-table>
    <tr headers>
        <th i18n>Identifier</th>
        <th i18n>Name</th>
        <th i18n>Price</th>
    </tr>
    <tr *ngFor="let expense of expenseData; let i = index" rows>
        <td>
            <input name="identifier" type="text" [(ngModel)]="expense.identifier" (ngModelChange)="saveRow(i)"
                [readonly]="isReadOnly">
        </td>
        <td>
            <input name="name" type="text" [(ngModel)]="expense.name" (ngModelChange)="saveRow(i)"
                [readonly]="isReadOnly">
        </td>
        <td>
            <input name="price" type="number" [(ngModel)]="expense.price" (ngModelChange)="saveRow(i)"
                [readonly]="isReadOnly">
        </td>
    </tr>
</app-data-table>
<strong i18n>Daily total:</strong>
<app-data-table>
    <tr headers>
        <th i18n>Price</th>
    </tr>
    <tr rows>
        <td>{{ expenseTotal.price | currency:'COP' }}</td>
    </tr>
</app-data-table>
<button *ngIf="!isReadOnly" (click)="addRow()" i18n>Add Row</button>